<strong> Olá {{ organizer }},</strong>
<p>Um novo usuário acaba de se inscrever para a meet up <strong>{{ meetup }}</strong></p>
<p>
  <strong>Usuário: </strong>{{ user }}<br />
  <strong>Email: </strong>{{ email }}</br />
</p>